@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap");
:root {
  --primary-color: #e76f51;
  --secondary-color: #2a9d8f;
  --light-color: #f8f9fa;
  --dark-color: #6c757d;
  --white: #fff;
  --gray: #eee;
  --brown: #2c2c2c;
  --i-color: #408175;
  --blue-color: #118ab2;
  --green-color: #43aa8b;
  --purple-color: #9b5de5;
  --dark-blue-color: #277da1;
  --soft-orange-color: #f9844a;
  --yellow-color: #ffb703;
  --border-color: #e5e5e5;
  --max-width: 1300px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/*title*/
.title-sport {
  background-color: var(--secondary-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}
.title-healt {
  background-color: var(--i-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}
.title-economy {
  background-color: var(--primary-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}
.title-business {
  background-color: var(--blue-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}

.title-culture {
  background-color: var(--purple-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}
.title-world {
  background-color: var(--dark-blue-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}
.title-opinion {
  background-color: var(--yellow-color);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 30px;
  text-align: center;
  font-size: 1.4rem;
}

/*btn*/

.btn {
  width: 10rem;
  height: 3rem;
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 3.5rem;
}

.btn:hover {
  opacity: 0.8;
}
/*section padding*/
.section-padding {
  padding: 2rem 4rem;
}

.m2-top {
  margin: 2rem 0rem;
}
/*navbar*/
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--light-color);
}
.nav__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.navbar-logo {
  width: 6rem;
}
.navbar ul {
  display: flex;
  gap: 1rem;
}
.navbar__social-media ul {
  display: flex;
  display: none;
}
.navbar__social-media i {
  font-size: 2.5rem;
}
.navbar a {
  color: var(--dark-color);
  padding: 0.5rem;
}
.navbar a:hover {
  background-color: var(--gray);
  color: var(--dark-color) !important;
}
.navbar-home {
  background-color: var(--primary-color);
  color: var(--white) !important;
  border-radius: 5px;
}

.navbar-hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/rowing.jpeg);
  color: var(--light-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.header-hero__btn {
  background-color: var(--primary-color);
}

/* main */
.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 2rem;
}
.news-item {
  background-color: var(--white);
  width: 90%;
  color: var();
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news-item h2 {
  color: var(--dark-color);
  font-size: 1.8rem;
}

/* footer */
.footer {
  background-color: var(--dark-color);
  padding: 3rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.footer section {
  border-bottom: 1px solid #000;
  border-bottom-style: dashed;
  padding: 0.5rem 0rem;
}
.footer-logo img {
  width: 10rem;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.footer h3 {
  padding-left: 1rem;
}
.footer input[type="email"] {
  width: 90%;
  padding: 0.5rem;
}
.footer button[type="submit"] {
  background-color: var(--primary-color);
  width: 90%;
}
.footer input[type="email"]:focus {
  border: 2px solid var(--gray);
  outline: none;
}

.footer__links li {
  border-bottom: 1px solid #dccfc0;
  border-bottom-style: dotted;
  color: var(--white);
}
.footer__links a {
  color: var(--white);
}
.footer__social-media ul {
  display: flex;
  padding-top: 1rem;
}
.footer__social-media i {
  font-size: 3rem;
}
.footer__social-media {
  border-bottom-style: none !important;
}
.footer__copy {
  background-color: var(--brown);
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}

/* about us */

.about-main {
  padding: 3rem;
}

.header-about {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/about-us.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35vh;
  color: var(--white);
}
.header-about-content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  height: 35vh;
  gap: 1rem;
}
.btn-os {
  background-color: var(--primary-color) !important;
  width: 20rem;
}
.btn-mtt {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 20rem;
}
.about-main span {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.about-story-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  gap: 2rem;
  align-items: center;
}
.about-story-content img {
  border-radius: 5px;
}
.p-desktop {
  display: none;
}
.about-link {
  color: var(--secondary-color);
}
.about-cards i {
  font-size: 6rem;
  color: var(--i-color);
  padding-top: 2rem;
}
.about-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.about-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--light-color);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-card-content i {
  font-size: 1.6rem;
  margin-left: 1rem;
  color: var(--secondary-color);
}
.about-card-content a {
  color: var(--secondary-color);
}
.about-team-text {
  width: 60%;
}
.about-team {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.about-team-person {
  display: none;
}
.about-team-stat {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  border-radius: 5px;
}
.about-team-stat h3 {
  font-size: 2rem;
  color: var(--secondary-color);
}
.about-team-stat span {
  color: #000;
  font-size: 1.5rem;
}

.about-team-stat span:not(:last-child) {
  border-right: 1px solid var(--dark-color);
}

.about-feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  align-items: center;
}
.about-feature img {
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.about-feature h2 {
  color: var(--primary-color);
}

/* blog */
.link {
  color: var(--i-color);
  cursor: pointer;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
}
.blog-main {
  padding: 3rem;
}
.blog-hero-text {
  padding: 5rem;
}
.btn-blog-hero {
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  width: 20rem;
}
.blog-feature {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  border-radius: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.blog-feature__img {
  background-image: url(img/rowing.jpeg);
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-feature__img span {
  margin: 2rem;
}
.blog-feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  gap: 1rem;
}

.blog-card:not(.desktop) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  margin: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.blog-card img {
  padding: 1rem;
}
.view {
  color: var(--blue-color);
  cursor: pointer;
}
.blog-post-title {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
}
.btn-view {
  background-color: var(--blue-color);
  padding: 2rem;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
